.App {
  text-align: center;
}

.UsersPage {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
}

.header {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.Users{
  flex: 0 0 75%;
}

.Birthday{
  flex: 0 0 25%;
}

.user-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-between;
}

.one-letter {
  flex: 0 0 20%;
  margin: 0 10px;
}

.letter-column{
  text-align: left;
  font-weight: bolder;
}

.employee{
  text-align: left;
  margin: 0 0 15px 0;
}

.employee{
  text-align: left;
}

.user-names[userActive="1"] {
  color: blue;
  font-weight: bolder;
}

.block-radio{
  font-size: 0.8rem;
  margin: 0 0 0 10px;
}

